body{ 
    
   background-color: darkblue; 
   text-align: center;
   margin: auto;
   width: 25%;
   padding: 50px;
   
   
}

#idbutton{display: none;}

h1{

   color: grey; 
   text-align: center;
   font-family: arial;
}

p{
 
   font-family: arial;
  font-size: 22px; 
  text-align: center;
   color: grey;
}    


